<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletStudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- servlet 테그보다 앞에 위치해야한다. -->
  <context-param>
  	<param-name>school</param-name>
  	<param-value>cn대학교</param-value>
  </context-param>
  <context-param>
  	<param-name>animals</param-name>
  	<param-value>고양이</param-value>
  </context-param>
  
  <!-- xml에서 에노테이션 정의하기  -->
  <!-- servlet-name 은 서로 같게 해줘야 하며 결국 url-pattern 으로 연결된다. -->
  <servlet>
  	<servlet-name>myServlet</servlet-name>
  	<servlet-class>com.servletStudy.myServlet</servlet-class>
  	
  	<init-param>
		<param-name>tel</param-name>
		<param-value>010-2627-055x</param-value>
	</init-param>

	<init-param>
		<param-name>address</param-name>
		<param-value>korea</param-value>
	</init-param>
	
  </servlet>
  <servlet-mapping>
  	<servlet-name>myServlet</servlet-name>
  	<url-pattern>/mySvr2</url-pattern>
  </servlet-mapping>
  
  <!-- 리스너 클래스를 호출하기 위한 것 -->
  <listener>
  	<listener-class>com.servletStudy.ServletListenerEx</listener-class>
  </listener>
  
</web-app>